body {
  margin: 0;
}
.bodycontainer {
  min-height: 100vh;
  padding: 0px;
}
.highcharts-figure .chart-container {
  width: 30%;
  height: 200px;
  float: left;
  border: 1px;
}

.highcharts-figure .chart-container.line-chart {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  clear: none;
  border: 1px;
}

.highcharts-figure .chart-container.heatmap-chart {
  width: 30%;
  height: 200px;
  margin: 0 auto;
  clear: both;
  float: left;
}

.highcharts-figure .chart-container.budget-chart {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  clear: both;
}

@media (max-width: 600px) {
  .highcharts-figure .chart-container {
    width: 100%;
    float: none;
  }

  .highcharts-figure .chart-container.line-chart,
  .highcharts-figure .chart-container.heatmap-chart {
    width: 100%;
  }
}
