/* Fonts */
body {
    font-family: "Arial", sans-serif;
    padding: 5px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
  }
  
  /* Table Headers */
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tblheader {
    background-color: #0A4436;
    border: 0px solid gray;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }
  
  .table td {
    border: 0px solid #ddd;
    padding: 2px;
    vertical-align: top;
  }
  .lblheader {
    color:  #0A4436;
    font-weight: bold;
  }
  .txtsmall {
    font-size: 12px;
  }
  .txtcenter {
    text-align: center;
  }