*{
    -webkit-box-sizing: border-box;/*dont calculate padding in ul*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    text-align: right;
    direction: rtl;
    font-family: 'TheMixArabic';
}
main {
	margin-top: 50px;
	margin-bottom: 50px;
}
.container{
    max-width: 1170px;
    position: relative;
    @media screen and (max-width:991px) {
        max-width: 100%;
    }
}
@mixin border-shared {
    border: solid 0.5px #cecece;
    border-radius: 20px;
}

i.fa.toggle-search.fa-search {
	background: #FBBD4C;
    width: 30px;
	height: 30px;
	min-width: 30px;
    border-radius: 50%;
    display: flex;
    color: $color-white;
    align-items: center;
    justify-content: center;
}
.bg-theme{
    background-color: $color-icon;
    color:$color-white;
}

h1, h2, label, .form-group, p {
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.numbers{
    font-family: sans-serif;
}
.toggle-search{
    cursor: pointer;
}
.hidden-search{
    display: none;
    button{
        padding: 10px;
    }
    input{
        padding-left: 37px;
    }
}
.btn-custom{
    border-radius: 20px;
    padding: 8px 27px;
    outline: none;
    box-shadow: none;
    line-height: 1;
    border: 0px;
    &:hover,&:focus{
        outline: none;
        box-shadow: none;
        &.bg-theme{
            color: $color-white;
        }
    }

}
ul{
	list-style: none;
	margin: 0;
    padding: 0;
}

.board-block {
	position: relative;
	.form-group{
		position: relative;
		@media screen and (max-width:991px) {
			width:100%;
		}
		input{
			border-radius: 20px;
			padding-left: 100px;
			box-shadow: none;
			&:focus{
				box-shadow: none;
	
			}
		}
		button{
			position: absolute;
			left: 0px;
			height: 100%;
		}
	}
	.title {
		color: $color-text;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		text-align: right;
		padding: 8px 35px 0;
		font-size: 19px;
	}
	.section-first, .section-second {
		width: 96%;
		margin: 10px auto;
		.row {
			margin-right: -5px;
			margin-left: -5px;
		}
		.col {
			padding-right: 5px;
			padding-left: 5px;
		}
	}
}
.main-section {
	margin-bottom: 40px;
	.board-block {
		.section-first{
			.col-1 {
				flex: 0 0 8.333333%;
				max-width: 8.333333%;
			}
			.col-11 {
				flex: 0 0 89.666667%;
				max-width: 89.666667%;
				margin-right: 2%;
			}
		}
		.section-second {
			.col-1 {
				flex: 0 0 3.555557%;
				max-width: 3.555557%;
			}
			.col-11 {
				flex: 0 0 95.444443%;
				max-width: 95.444443%;
				margin-right: .8%;
			}
		}

		.right-first {
			.col-1 {
				.title-inner {
					height: 100%;
					width: 100%;
					position: relative;
					background: rgb(102, 102, 102);
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 14px;
					&::after {
						content: '';
						width: 20px;
						height: 20px;
						position: absolute;
						transform: rotate(45deg);
						top: 45.5%;
						right: 63%;
						background-color:rgb(102, 102, 102);
						z-index: -1;
					}
					span {
						font-size: 14px;
						color: $color-white;
						line-height: 1.4;
						position: absolute;
						transform: rotate(90deg);
						width: 500%;
						text-align: center;
					}
				}
			}
		}
	}
	.right-first {
		.info-drow {
			background-color: $color-form-bg;
			padding: 10px 30px 0;
			display: flex;
			align-items: center;
			&:first-child{
				margin-bottom: 10px;
			}
			&:last-child{
				margin-top: 10px;
			}
			.fa-exclamation-circle {
				font-size: 30px;
				color: #AF3325;
			}
			.fa-check-circle {
				font-size: 30px;
				color: #63830C;
			}
			.info {
				flex: 0 0 25%;
				max-width: 25%;
				text-align: center;
				color: $color-text;
				font-weight: bold;
				.text {
					font-size: 17px;
				}
				.num {
					font-size: 25px;
				}
			}
			.drow {
				flex: 0 0 73%;
				max-width: 73%;
				svg {
					transform: scaleX(-1);
					max-width: 100%;
				}
			}
		}
	}
	.left-first {
		.right-info {
			background-color: $color-form-bg;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			height: 100%;
			.right {
				flex: 0 0 35%;
				max-width: 35%;
				.title-cash {
					padding: 14px 14px 10px;
					font-size: 17.5px;
					text-align: center;
					color: $color-text;
				}
				.num-cash {
					text-align: center;
					font-size: 35px;
					padding-top: 7.5px;
					color: $color-text;
				}
				.in-cash, .out-cash {
					text-align: center;
					font-size: 15.136px;
					padding-top: 11px;
					display: flex;
					justify-content: space-around;
					color: $color-text;
				}
			}
			.left {
				flex: 0 0 65%;
				max-width: 65%;
				padding: 14px 14px 10px;
				.cash-main {
					font-size: 17.5px;
					height: 19.5px;
					text-align: right;
					color: $color-text;
				} 
				.cash-sub {
					font-size: 13px;
					text-align: right;
					color: $color-text;
				}
				.cash-drow {
					padding-top: 20px;
				}
			}
		}
	}
	.section-second {
		.card-second {
			background-color: $color-form-bg;
			.top {
				position: relative;
				display: flex;
				justify-content: center;
				.num-and-text {
					position: absolute;
					top: 38%;
					.num {
						font-size: 40px;
						text-align: center;
					}
					.text {
						font-size: 16px;
					}
				}
			}
		}
	}
}
.highcharts-container  {
	width: 100% !important;
	max-width: 100% !important;
	text-align: center !important;
}
svg {
	width: 100% !important;
}

@media screen and (max-width:991px) {
	.section-second {
		.card-second {
			margin-bottom: 10px;
		}
	}
	.main-section {
		.board-block {
			.section-first{
				.col-1 {
					flex: 0 0 4.333333%;
					max-width: 4.333333%;
					.right-first .col-1 .title-inner::after {
						top: 45.5%;
					}
				}
				.col-11 {
					flex: 0 0 86.666667%;
					max-width: 86.666667%;
					margin-right: 9%;
				}
			}
			.section-second {
				.right-first .col-1 .title-inner::after {
					top: 48.5%;
				}
				.col-1 {
					flex: 0 0 5.555557%;
					max-width: 5.555557%;
				}
				.col-11 {
					flex: 0 0 85.444443%;
					max-width: 85.444443%;
					margin-right: 9%;
				}
			}
			.left-first {
				margin-top: 10px;
			}
		}
		.right-first .info-drow .info .text {
			font-size: 14px;
		}
		.right-first .info-drow .info .num {
			font-size: 25px;
		}
		.right-first .info-drow .info {
			flex: 0 0 30%;
			max-width: 30%;
		}
		.right-first .info-drow .drow {
			flex: 0 0 70%;
			max-width: 70%;
		}
		.left-first .right-info .right .title-cash {
			padding: 14px 7px 10px;
			font-size: 14.5px;
		}
		.left-first .right-info .right .num-cash,
		.left-first .right-info .right .in-cash,
		.left-first .right-info .right .out-cash{
			font-size: 12px;
		}
		.left-first .right-info .left .cash-main {
			font-size: 14.5px;
		}
		.left-first .right-info .left .cash-sub {
			font-size: 12px;
		}
		.section-second .card-second .top .num-and-text .text {
			font-size: 12px;
		}
		.section-second .card-second .top .num-and-text .num {
			font-size: 25px;
		}
		.section-second .card-second .top .num-and-text {
			top: 45%;
		}
	}
}
@media (min-width:768px) and (max-width:991px) {
	.main-section {
		.board-block {
			.section-first{
				.col-1 {
					flex: 0 0 4.333333%;
					max-width: 4.333333%;
					.right-first .col-1 .title-inner::after {
						top: 45.5%;
					}
				}
				.col-11 {
					flex: 0 0 93.666667%;
					max-width: 93.666667%;
					margin-right: 2%;
				}
			}
			.section-second {
				.right-first .col-1 .title-inner::after {
					top: 48.5%;
				}
				.col-1 {
					flex: 0 0 5.555557%;
					max-width: 5.555557%;
				}
				.col-11 {
					flex: 0 0 93.444443%;
					max-width: 93.444443%;
					margin-right: 1%;
				}
			}
		}
	}
}


.main-section2 {
	margin-bottom: 60px;
	.section-first {
		.title-inner-section2 {
			font-size: 15px;
			margin-bottom: 5px;
		}
		.left-side {
			border-radius: 0px;
			box-shadow: rgb(238, 238, 238) 0px 0px 2px 2px;
			border-width: 0px;
			border-style: solid;
			padding: 18px 20px;
			font-size: 12px;
			>ul {
				margin-bottom: 20px;
				li {
					display: flex;
					justify-content: space-between;
					background-color: $color-form-bg;
					color: rgb(31, 33, 33);
					padding: 10px 20px;
					&:first-child {
						background-color: $color-theme;
						color: $color-white;
						font-weight: bold;
					}
					@media screen and (max-width:1025px) {
						padding: 9px 10px;
					}
					>div {
						display: flex;
						align-items: center;
						&:first-child {
							@media screen and (max-width:1025px) {
								font-size: 12px;
							}
						}
					}
				}
			}
			.bottom {
				ul {
					li {
						display: flex;
						justify-content: space-between;
						padding: 10px 20px;
						background-color: $color-theme;
						color: $color-white;
						font-weight: bold;
						>div {
							display: flex;
							align-items: center;
							&:first-child {
								@media screen and (max-width:1025px) {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
		.middle-side {
			.top-middle {
				border-radius: 0px;
				box-shadow: rgb(238, 238, 238) 0px 0px 2px 2px;
				border-width: 0px;
				border-style: solid;
				padding: 20px;
				margin-bottom: 20px;
				.first {
					display: flex;
					justify-content: space-around;
					margin-bottom: 20px;
					.box {
						padding: 20px 18px;
						font-size: 19px;
						color: rgb(46, 148, 242);
						background-color: $color-form-bg;
						&.last {
							color: #AF3325;
						}
						@media screen and (max-width:1025px) {
							padding: 10px 10px;
						}
					}
					.calc {
						display: flex;
						align-items: center;
						padding: 0 10px;
						font-size: 25px;
						font-weight: bold;
						color: rgb(198, 198, 198);
					}
				}
			}
			.bottom-middle {
				border-radius: 0px;
				box-shadow: rgb(238, 238, 238) 0px 0px 2px 2px;
				border-width: 0px;
				border-style: solid;
				padding: 20px;
			}
		}
		.right-side {
			.top-right {
				border-radius: 0px;
				box-shadow: rgb(238, 238, 238) 0px 0px 2px 2px;
				border-width: 0px;
				border-style: solid;
				padding: 20px;
				margin-bottom: 20px;
				.img-and-num {
					display: flex;
					>div {
						border: 2px solid $color-form-bg;
						max-height: 99px;
						display: flex;
						align-items: center;
						@media screen and (max-width:1025px) {
							max-height: 92.5px;
						}
					}
					.ratio-num {
						flex: 0 0 65%;
						max-width: 65%;
						display: flex;
						align-items: center;
						justify-content: center;
						>span {
							&:first-child {
								color: rgb(46, 148, 242);
								font-size: 19px;
							}
						}
					}
					.ratio-img {
						flex: 0 0 35%;
						max-width: 35%;
					}
				}
			}
			.bottom-right {
				border-radius: 0px;
				box-shadow: rgb(238, 238, 238) 0px 0px 2px 2px;
				border-width: 0px;
				border-style: solid;
				padding: 20px;
				.tabel-right {
					ul {
						li {
							display: flex;
							justify-content: space-between;
							padding: 5px 0;
						}
						&.top {
							border-bottom: 2px solid $color-form-bg;
							font-weight: bold;
							font-size: 13px;
						}
						&.middle {
							max-height: 108px;
							overflow-y: auto;
							font-size: 13px;
							li {
								border-bottom: 2px solid $color-form-bg;
								color: rgb(238, 124, 112);
								&:nth-child(2) {
									color: rgb(105, 223, 105);
								}
							}
						}
						&.bottom {
							border-top: 2px solid $color-form-bg;
							font-weight: bold;
							font-size: 13px;
						}
					}
				}
			}
		}
	}
}


.main-section3 {
	.section-three {
		width: 96%;
		margin: 10px auto;
		.row {
			margin-left: -10px;
			margin-right: -10px;
			.col {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.ratio {
		border-radius: 0px;
		box-shadow: rgb(238, 238, 238) 0px 0px 2px 2px;
		border-width: 0px;
		border-style: solid;
		padding-bottom: 20px;
		position: relative;
		margin-bottom: 20px;
		display: flex;
    	justify-content: center;
		.number-ratio {
			position: absolute;
			top: 30%;
			.num {
				font-size: 30px;
				display: flex;
				justify-content: center;
				margin-bottom: 20px;
			}
			.title {
				text-align: center;
				font-size: 14px;
			}
		}
	}
	.middle-section3 {
		margin-bottom: 20px;
	}
	.middle-section3, .bottom-section3 {
		border-radius: 0px;
		box-shadow: rgb(238, 238, 238) 0px 0px 2px 2px;
		border-width: 0px;
		border-style: solid;
		padding: 10px;
		.title {
			font-size: 17px;
			padding-right: 0;
		}
	}
	.left-section3 {
		border-radius: 0px;
		box-shadow: rgb(238, 238, 238) 0px 0px 2px 2px;
		border-width: 0px;
		border-style: solid;
		padding: 10px;
		.title {
			font-size: 20px;
			padding-right: 0;
		}
		>ul {
			&:not(:last-child) {
				border-bottom: 2px solid $color-form-bg;
				margin-bottom: 20px;
				padding-bottom: 12px;
			}
			li {
				padding: 5px 0;
				display: flex;
				justify-content: space-between;
				font-weight: bold;
				>ul {
					padding-right: 30px;
					width: 100%;
					>li {
						padding: 5px 0;
						display: flex;
						justify-content: space-between;
						font-weight: normal;
					}
				}
			}
		}
	}
}

.expenses {
	color: #555;
    padding: 10px;
    background: #f4f4f4;
	.top-expenses {
		.row {
			background: white;
			margin-bottom: 5px;
			margin-left: 0px;
			margin-right: 0px;
			.col {
				margin: 11px 0;
				border-left: 1px solid #f2f2f2;
				padding-left: 10px;
				.right-left {
					display: flex;
					.image-right1 {
						background: #fb8564;
						&:first-child {
							color: white;
							padding: 15px 15px;
						}
					}
					.image-right2 {
						background:#56c4bc;
						&:first-child {
							color: white;
							padding: 15px 15px;
						}
					}
					.image-right3 {
						background: #a48bd4;
						&:first-child {
							color: white;
							padding: 15px 15px;
						}
					}
					.image-right4 {
						background: #acc785;
						&:first-child {
							color: white;
							padding: 15px 15px;
						}
					}
					.left {
						margin-right: 10px;
						width: 100%;
						.num {
							font-size: 20px;
							color: #555c65;
						} 
						.text {
							font-size: 14px;
							color: #93969c;
						}
						.text2 {
							text-align: left;
							color: #b0b4b5;
						}
					}
				}
			}
		}
	}
	.middel-expenses {
		.row {
			margin-right: 0;
			margin-left: 0;
			.col {
				background: white;
				margin-bottom: 5px;
				margin-left: 0px;
				margin-right: 0px;
				.title {
					padding: 10px;
					font-size: 15px;
					border-bottom: 1px solid #eee;
					margin: 0 6px;
					margin-bottom: 15px;
					.title-inner {
						font-size: 14px;
						color: #93969c;
					}
				}
			}
		}
	}
	.bottom-expenses {
		.row {
			margin-right: 0;
			margin-left: 0;
			background: white;
			margin-bottom: 5px;
			margin-left: 0px;
			margin-right: 0px;
			.title {
				padding: 10px;
				font-size: 15px;
				border-bottom: 1px solid #eee;
				margin: 0 6px;
				margin-bottom: 15px;
			}
		}
	}
}

.contracts {
	font-size: 14px;
	color: #555;
    padding: 10px;
    background: #f4f4f4;
	.top-contracts {
		margin-bottom: 30px;
		.top-inner-right {
			padding: 10px 0;
			border-left: 1px solid #f2f2f2;
			padding-left: 10px;	
			background: #ffffff;
			text-align: center;	
			>div {
				padding: 10px 0;
				&:nth-child(2) {
					font-size: 24px;
				}
			}
		}
		.inner-left {
			display: flex;
			flex-wrap: wrap;
			.top-inner-left {
				padding: 20px 0;
				flex: 16.666%;
				max-width: 16.666%;
				padding-left: 10px;	
				background: #ffffff;
				text-align: center;	
				.wrapper {
					padding: 5px 0;
					border-left: 1px solid #f2f2f2;
					>div {
						&:nth-child(1) {
							margin-top: 15px;
							font-size: 24px;
						}
						&:nth-child(2) {
							margin-top: 30px;
							padding: 5px;
							width: fit-content;
							margin-left: auto;
							margin-right: auto;
							border-radius: 4px;
						}
					}
				}	
				&:nth-child(1) {
					.wrapper {
						>div {
							&:nth-child(2) {
								background-color: #D1EDE1;
								color: #44B786;
							}
						}
					}
				}
				&:nth-child(2) {
					.wrapper {
						>div {
							&:nth-child(2) {
								background-color: #FDEDCC;
								color: #F8BA45;
							}
						}
					}
				}
				&:nth-child(3) {
					.wrapper {
						>div {
							&:nth-child(2) {
								background-color: #FADCDF;
								color: #E86E7D;
							}
						}
					}
				}
				&:nth-child(4) {
					.wrapper {
						>div {
							&:nth-child(2) {
								background-color: #FAE6F3;
								color: #EA8FCB;
							}
						}
					}
				}
				&:nth-child(5) {
					.wrapper {
						>div {
							&:nth-child(2) {
								background-color: #F5F9FD;
								color: #9E63E5;
							}
						}
					}
				}
				&:nth-child(6) {
					.wrapper {
						border-left: 0;
						>div {
							&:nth-child(2) {
								background-color: #aeb4e6;
								color:#331ac0;
							}
						}
					}
				}
			}
		}
	}
	.middle-contracts {
		margin-bottom: 30px;
		.middle-inner-right {
			&:first-child {
				margin-bottom: 30px;
			}
			.wrapper {
				padding-top: 20px;
				background: #ffffff;
				text-align: center;	
				>div {
					&:nth-child(2) {
						padding: 34px 0;
					}
				}
			}
		}
		.chart {
			background: #ffffff;
			padding-bottom: 20px;
			h5 {
				padding: 10px;
				border-bottom: 1px solid #f2f2f2;
			}
		}
	}
	.bottom-contracts {
		.wrapper {
			background: #ffffff;
			.top {
				display: flex;
				flex-wrap: wrap;
				padding: 10px 10px 0;
				h5 {
					border-bottom: 2px solid #A4B4C6;
					color: #A4B4C6;
					text-align: center;
					flex: 0 0 50%;
					max-width: 50%;
					padding-bottom: 10px;
					
					&:first-child {
						color: #1D4AA1;
						border-bottom: 2px solid #1D4AA1;
					}
				}
			}
			.middle {
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 10px;
				border-bottom: 2px solid #A4B4C6;
				>div {
					padding-right: 10px;
					color: #A4B4C7;
					text-align: right;
					flex: 0 0 33.333%;
					max-width: 33.333%;
				}
			}
			.bottom {
				display: flex;
				flex-wrap: wrap;
				padding-top: 10px;
				padding-bottom: 10px;
				>div {
					padding-right: 10px;
					color: #667789;
					text-align: right;
					flex: 0 0 33.333%;
					max-width: 33.333%;
				}
			}
		}
	}
}

.contracts.page1 .middle-contracts .middle-inner-right .wrapper > div:nth-child(2) {
    padding: 34px 0;
}
.page-content {
    padding: 10px 0 !important;
}

.projects {
	.content {
		margin-top: 0 !important;
	}
	.top {
		display: flex;
		border-bottom: 2px solid #D7D7D7;
		.project {
			flex: 0 0 14.5%;
			max-width: 14.5%;
			.title, .date {
				font-size: 13px;
			}
			&:first-child {
				flex: 0 0 13%;
				max-width: 13%;
				.title {
					background-color:#F3F3F3;
				}
				.content {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 72%;
				}
			}
			&:nth-child(2) {
				.title {
					background-color:#3D7CB4;
					color:#FFFFFF;
				}
			}
			&:nth-child(3) {
				.title {
					background-color:#4DA896;
					color:#FFFFFF;
				}
			}
			&:nth-child(4) {
				.title {
					background-color:#A2B863;
					color:#FFFFFF;
				}
			}
			&:nth-child(5) {
				.title {
					background-color:#ECAE4E;
					color:#FFFFFF;
				}
			}
			&:nth-child(6) {
				.title {
					background-color: #BA534F;
					color:#FFFFFF;
				}
			}
			&:nth-child(7) {
				.title {
					background-color:#536172;
					color:#FFFFFF;
				}
			}
			&:nth-child(odd) {
				background: #F3F3F3;
			}
			&:nth-child(even) {
				background: #FFFFFF;
			}
			.title {
				font-weight: bold;
				text-align: center;
				padding: 7px 0;
			}
			.content {
				.date {
					display: flex;
					padding: 15px;
					&:first-child {
						padding-bottom: 20px;
					}
					span {
						&:last-child {
							width: 100%;
							text-align: center;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	.middle-top {
		display: flex;
		border-bottom: 2px solid #D7D7D7;
		.project {
			flex: 0 0 14.5%;
			max-width: 14.5%;
			&:first-child {
				flex: 0 0 13%;
				max-width: 13%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&:nth-child(2) {
				.c100 {
					&.color1 .bar, &.color1 .fill {
						border-color: #3D7CB4!important;
					}
					&.p50 .bar {
						transform: rotate(150deg)!important;
					}
				}
			}
			&:nth-child(3) {
				.c100 {
					&.color2 .bar, &.color2 .fill {
						border-color: #4DA896!important;
					}
					&.p50 .bar {
						transform: rotate(100deg)!important;
					}
				}
			}
			&:nth-child(4) {
				.c100 {
					&.color3 .bar, &.color3 .fill {
						border-color: #A2B863!important;
					}
					&.p50 .bar {
						transform: rotate(150deg)!important;
					}
				}
			}
			&:nth-child(5) {
				.c100 {
					&.color4 .bar, &.color4 .fill {
						border-color: #ECAE4E!important;
					}
					&.p50 .bar {
						transform: rotate(40deg)!important;
					}
				}
			}
			&:nth-child(6) {
				.c100 {
					&.color5 .bar, &.color5 .fill {
						border-color: #BA534F!important;
					}
					&.p50 .bar {
						transform: rotate(180deg)!important;
					}
				}
			}
			&:nth-child(7) {
				.c100 {
					&.color6 .bar, &.color6 .fill {
						border-color: #536172!important;
					}
					&.p50 .bar {
						transform: rotate(70deg)!important;
					}
				}
			}
			&:nth-child(odd) {
				background: #F3F3F3;
			}
			&:nth-child(even) {
				background: #FFFFFF;
			}
			.drow {
				padding: 10px 0;
				display: flex;
				align-items: center;
				justify-content: center;
				.c100 {
					position: relative;
					font-size: 120px;
					border-radius: 50%;
					width: 120px;
					height: 120px;
					&:after {
						position: absolute;
						top: .08em;
						left: .08em;
						display: block;
						content: " ";
						border-radius: 50%;
						background-color: #536172;
						width: .84em;
						height: .84em;
					}
					>span {
						position: absolute;
						z-index: 1;
						left: 0;
						top: 0;
						width: 5em;
						line-height: 5em;
						font-size: .2em;
						color: #ffffff;
						display: block;
						text-align: center;
						white-space: nowrap;
					}
					.slice {
						position: absolute;
						width: 1em;
						height: 1em;
						clip: rect(0em,1em,1em,0.5em);
					}
					&.p50 .bar {
						transform: rotate(180deg);
						position: absolute;
						border: .08em solid #307bbb;
						width: 100%;
						height: 100%;
						clip: rect(0em,0.5em,1em,0em);
						border-radius: 50%;
					}
				}
			}
			.text {
				padding: 0 0 20px 0;
				text-align: center;
			}
		}
	}
	.middle-bottom {
		display: flex;
		border-bottom: 2px solid #D7D7D7;
		.project {
			flex: 0 0 14.5%;
			max-width: 14.5%;
			&:first-child {
				flex: 0 0 13%;
				max-width: 13%;
				display: flex;
				align-items: center;
				justify-content: center;
				.content {
					text-align: center;
				}
			}
			&:nth-child(2) {
				.col {
					&:first-child {
						.drow {
							opacity: .5;
							height: 100px;
							background-color: #3D7CB4!important;
						}
					}
					&:last-child {
						.drow {
							height: 70px;
							background-color: #3D7CB4!important;
						}
					}
				}
			}
			&:nth-child(3) {
				.col {
					&:first-child {
						.drow {
							opacity: .5;
							height: 90px;
							background-color: #4DA896!important;
						}
					}
					&:last-child {
						.drow {
							height: 60px;
							background-color: #4DA896!important;
						}
					}
				}
			}
			&:nth-child(4) {
				.col {
					&:first-child {
						.drow {
							opacity: .5;
							height: 100px;
							background-color: #A2B863!important;
						}
					}
					&:last-child {
						.drow {
							height: 70px;
							background-color: #A2B863!important;
						}
					}
				}
			}
			&:nth-child(5) {
				.col {
					&:first-child {
						.drow {
							opacity: .5;
							height: 80px;
							background-color: #ECAE4E!important;
						}
					}
					&:last-child {
						.drow {
							height: 30px;
							background-color: #ECAE4E!important;
						}
					}
				}
			}
			&:nth-child(6) {
				.col {
					&:first-child {
						.drow {
							opacity: .5;
							height: 60px;
							background-color: #BA534F!important;
						}
					}
					&:last-child {
						.drow {
							height: 80px;
							background-color: #BA534F!important;
						}
					}
				}
			}
			&:nth-child(7) {
				.col {
					&:first-child {
						.drow {
							opacity: .5;
							height: 100px;
							background-color: #536172!important;
						}
					}
					&:last-child {
						.drow {
							height: 20px;
							background-color: #536172!important;
						}
					}
				}
			}
			&:nth-child(odd) {
				background: #F3F3F3;
			}
			&:nth-child(even) {
				background: #FFFFFF;
			}
			.row {
				margin-right: 0;
				margin-left: 0;
			}
			.col {
				height: 200px;
				position: relative;
				.inner {
					position: absolute;
					bottom: 0;
					width: 73%;
					.drow {
						margin: 10px;
						background-color: #333333;
					}
					.num {
						text-align: center;
					}
					.text {
						text-align: center;
						padding: 0 0 15px 0;
						text-align: center;
					}
				}
				&:first-child {
					.drow {
						opacity: .5;
						height: 100px;
					}
				}
				&:last-child {
					.drow {
						height: 50px;
					}
				}
			}
		}
	}
	.bottom {
		display: flex;
		border-bottom: 2px solid #D7D7D7;
		.project {
			flex: 0 0 14.5%;
			max-width: 14.5%;
			&:first-child {
				flex: 0 0 13%;
				max-width: 13%;
				display: flex;
				align-items: center;
				justify-content: center;
				.content {
					text-align: center;
				}
			}
			&:nth-child(2) {
				.inner {
					&:last-child {
						.line {
							background-color: #3D7CB4!important;
							&:first-child {
								width: 0%;
							}
							&:nth-child(2) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(3) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(4) {
								width: 70%;
								&::after {
									content: '2';
								}
							}
						}
					}
				}
			}
			&:nth-child(3) {
				.inner {
					&:last-child {
						.line {
							background-color: #4DA896!important;
							&:first-child {
								width: 0%;
							}
							&:nth-child(2) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(3) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(4) {
								width: 70%;
								&::after {
									content: '2';
								}
							}
						}
					}
				}
			}
			&:nth-child(4) {
				.inner {
					&:last-child {
						.line {
							background-color: #A2B863!important;
							&:first-child {
								width: 0%;
							}
							&:nth-child(2) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(3) {
								width: 0%;
								&::after {
									content: '';
								}
							}
							&:nth-child(4) {
								width: 70%;
								&::after {
									content: '2';
								}
							}
						}
					}
				}
			}
			&:nth-child(5) {
				.inner {
					&:last-child {
						.line {
							background-color: #ECAE4E!important;
							&:first-child {
								width: 0%;
							}
							&:nth-child(2) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(3) {
								width: 70%;
								&::after {
									content: '2';
								}
							}
							&:nth-child(4) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
						}
					}
				}
			}
			&:nth-child(6) {
				.inner {
					&:last-child {
						.line {
							background-color: #BA534F!important;
							&:first-child {
								width: 0%;
							}
							&:nth-child(2) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(3) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(4) {
								width: 70%;
								&::after {
									content: '2';
								}
							}
						}
					}
				}
			}
			&:nth-child(7) {
				.inner {
					&:last-child {
						.line {
							background-color: #536172!important;
							&:first-child {
								width: 0%;
							}
							&:nth-child(2) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
							&:nth-child(3) {
								width: 70%;
								&::after {
									content: '2';
								}
							}
							&:nth-child(4) {
								width: 40%;
								&::after {
									content: '1';
								}
							}
						}
					}
				}
			}
			&:nth-child(odd) {
				background: #F3F3F3;
			}
			&:nth-child(even) {
				background: #FFFFFF;
			}
			.wrapper {
				display: flex;
				padding: 10px;
				.inner {
					&:first-child {
						.text {
							padding: 10px;
							text-align: left;
						}
					}
					&:last-child {
						width: 100%;
						border-right: 2px solid #a79d9d;
						.line {
							margin: 10px 0 25px;
							width: 100%;
							height: 20px;
							background-color: #ffffff;
							&::after {
								content: '';
								display: inline-block;
								padding-right: 120%;
								font-size: 18px;
								line-height: 1.2;
							}
							&:first-child {
								opacity: 1;
							}
							&:nth-child(2) {
								opacity: .9;
							}
							&:nth-child(3) {
								opacity: .7;
							}
							&:last-child {
								margin-bottom: 0;
								opacity: .5;
							}
						}
					}
				}
			}
		}
	}
}