$color-theme:#8D1838;
$color-white:#fff;
$color-icon: #FBBD4C;
$color-label: #333333;
$color-theme-light:#ead2d6;;
$color-black:#1f000b;
$color-btn: rgba(147,26,47, 0.2);
$color-form-title: #000000;
$color-form-bg:  #F8F8F8;
$color-hover: #8d1737;
$color-text: rgb(31, 33, 33);